<header class="center">
  <h1>Adoptable Pets in Los Angeles</h1>
  <form id='form' ng-submit="submit()">
    <!-- use ng-model to create two way data binding between model and view (of text input) -->
    <div class="search">
      <label for="filter">Search: </label>
      <input name="filter" type="text" ng-model="search.$" autofocus>
    </div>
    <div class="dropdown">
      <label for="sortBy">Sort by: </label>
      <!-- use ng-model to create two way data binding between model and view (of selected option) -->
      <select name="sortBy" ng-model="sortBy">
        <option value="age">Youngest to Oldest</option>
        <option value="-age">Oldest to Youngest</option>
      </select>
    </div>
  </form>
</header>
<div class="container">
  <div class="loading">
    <img class="loading-gif" src="./assets/img/loading.gif" alt="Loading">
  </div>
  <animal></animal>
</div>
