<header class="center">
  <h1>Adoptable Pets in Los Angeles</h1>
</header>

<div class="container">
  <!-- use ng-repeat to loop through messages array and duplicate html for every msg object -->
  <!-- use orderBy filter to sort messages -->
  <!-- use filter filter to search messages -->
  <!-- <div class="msg-container" ng-repeat="msg in messages | orderBy: sortBy | filter: searchTerm">
    <span class='username'>{{msg.created_by}}: </span>
    <span class='msg'>{{msg.message}}</span>
  </div> -->
</div>

<!-- <form id='chatroom-form' ng-submit="submit()"> -->
  <!-- use ng-model to create two way data binding between model and view (of text input) -->
  <!-- <input name='msgBody' type='text' ng-model="msgToPost">
  <input id='button' type='submit' name='button' value='submit'>
  <label for="sortBy">Sort by: </label> -->
  <!-- use ng-model to create two way data binding between model and view (of selected option) -->
  <!-- <select name="sortBy" ng-model="sortBy">
    <option value="created_by">Username (Ascending)</option>
    <option value="-created_by">Username (Descending)</option>
    <option value="created_at">Time Posted (Ascending)</option>
    <option value="-created_at">Time Posted (Descending)</option>
  </select>
  <label for="messageSearch">Search Messages: </label>
  <input name="messageSearch" type="text" ng-model="searchTerm.message">
  <label for="userSearch">Search Users: </label>
  <input name="userSearch" type="text" ng-model="searchTerm.created_by">
</form> -->
