/* GENERAL STYLES */

.center {
  text-align: center;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #F8F9FA;
}

/* HEADER STYLES */

header {
  font-weight: ;
  padding: 10px 0;
  background-color: #A1A5B2;
  color: #FFF;
}

/* FORM STYLES */

form {
  display: flex;
  justify-content: center;
}

label {
  font-size: 20px;
  padding-right: 5px;
}

select {
  background-color: #FFF;
  padding: 5px;
}

.search > input {
  padding: 5px;
  text-indent: 10px;
}

.search, .dropdown {
  margin: 40px 10px;
}

/* MAIN STYLES */

.container {
  width: 80%;
  margin: 0 auto;
}

.animal {
  margin: 20px 0;
  display: flex;
}

.pic, .info {
  margin: 20px;
}

.pic {
  border-radius: 50%;
}

.info-container {
  display: flex;
  align-items: center;
}

.loading {
  display: flex;
  justify-content: center;
}

.loading-gif {
  margin-top: 100px;
  height: 40%;
  width: 40%;
  border-radius: 20%;
}
